/* 
Colors 
*/

body {
   background-color: #fdfffc;
   font-family: 'Lato', sans-serif; 
}

.title-bar{
   background-color: #011627;
   color:#fdfffc;

}
.name{
   margin-bottom: 0px;
   letter-spacing: 10px;
   cursor: pointer;
   font-weight: bold;
   
}
.highlight{
   background-color: #ffeb3b;
   color: black;
   padding: 5px;
}

.button.primary {
   border-radius: 3px;
   background-color: #2ec4b6;
}
.button.primary:hover{
   border-radius: 3px;
   background-color: #2ab3a6;
}
.button.primary:visited{
   border-radius: 3px;
   background-color: #2ab3a6;
}
select{
   border-radius: 3px;
}
[type='text'], 
[type='password'], 
[type='date'], 
[type='datetime'], 
[type='datetime-local'], 
[type='month'], 
[type='week'], 
[type='email'], 
[type='number'], 
[type='search'], 
[type='tel'], 
[type='time'], 
[type='url'], 
[type='color'],
textarea {
   border-radius: 3px;
   border-color: #2ec4b6;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
  outline: none;
  border: 1px solid #2ec4b6;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

.response{
  color: white;
  margin-bottom: 0px;
  text-align: center;
  font-size: medium;
  padding: 5px 0px 5px 0px;
   font-size: 16px;

}

.unit_container_selected{
   background-color: #2ec4b6;
   color: #FFF;
   position: relative;
   height: 100px;
   border-radius: 2px;
   border: none;
   margin: 10px 0px 10px 0px;
}
.unit_container{
   position: relative;
   height: 100px;
   border-radius: 2px;
   border: 1px solid #2ec4b6;
   margin: 10px 0px 10px 0px;

}
.center_text{
   position: absolute;
   text-align:center;
   word-wrap: break-word;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
}
.unit_container:hover{
   cursor: pointer;
   background-color: #2ab3a6;
   color: #fff;
   border: none;
}
.stu_details{
   padding: 20px;
   color: #444;
   border-radius: 5px;
   background-color: #f1f1f1;
}
.stu_name {
   font-size: 300%;
}
.stu_incr{
   font-size: medium;
   font-style: italic;
   
}
.stu_unit{
   display: inline;
   padding: 0px 15px 0px 15px;
   border-radius: 15px;
   background-color: #2ec4b6;
   margin-right: 5px;
   margin-bottom: 5px;
   color: #fff;
   cursor: pointer;
   font-size: medium;
}

.stu_unit:hover{
   background-color: #2ab3a6;
   color: #fff;
}
.stu_details p{
   margin-bottom: 0px;
}
.stu_dashboard{
   padding: 0px 10px 0px 10px;
   background-color: #8b8c8a;
   color: #e6e8e6;
   border-radius: 5px;
}
.stu_curr_units{
   margin-top: 10px;
   border-top: 1px solid #ccc;
   padding-top: 10px;

}
.profile_a{
   padding: 0px 10px 0px 10px;
   border-radius: 3px;
   color: #fff;
   background-color: #2ec4b6;
}
.profile_a:hover{
   color: #fff;
   background-color: #2ab3a6;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
   border-color: #fff transparent transparent;
    border-top-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.dropdown.menu .is-active > a {
   background-color: #2ec4b6;
   color: #fff;
}
.profile_menu{
   background-color: #fff;
   border-radius: 3px;
   border: 1px solid #2ec4b6;
}
.profile_menu li a{
   color: #2ec4b6;
}
.profile_menu li a:hover{
   background-color: #2ec4b6;
   color: #fff;
}
.course_name:hover{
   background-color: #2ec4b6;
   color: #fff;
   cursor: pointer;
}
.lec_unit_details{
   display: block;
   padding: 10px 10px 10px 0px;
   border-radius: 3px;
   border: 1px solid #2ec4b6;
   margin-bottom: 10px;
   color: #2ec4b6;
   cursor: pointer;
   font-size: medium;
   
}
.lec_unit_details:hover{
   background-color: #2ec4b6;
   color: #fff;
   cursor: pointer;
}
.unit_sem{
   background-color: #2ec4b6;
   color: #fff;
   padding: 10px 10px 10px 10px;
   margin-right: 5px;
}
.lec_units_section{
   color: #000;
   padding-bottom: 30px;
   padding-top: 10px;
}
.all_units{
   margin-top: 50px;
}
.unit_chip {
   display: inline-block;
   padding: 0 25px;
   height: 50px;
   font-size: medium;
   line-height: 50px;
   border-radius: 25px;
   color: #fff;
   background-color: #2ec4b6;
   padding-right: 0px;
   margin-right: 5px;
   margin-bottom: 5px;
   cursor: default;
 }
.del_lec_unit {
   padding-left: 15px;
   color: #fff;
   float: right;
   font-size: xx-large;
   cursor: pointer;
   background: #2ab3a6;
   border-bottom-right-radius: 25px;
   border-top-right-radius: 25px;
   padding-right: 15px;
   margin-left: 15px;
 }
 
 .del_lec_unit:hover {
   background-color: #e71d36;
 }
 .grid_whole_stu{
   border: 1px solid #ccc;
   border-radius: 5px;
   padding-top: 10px;
   background-color: #f1f1f1;
 }
 .grid_whole{
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 .grid_current_units{
   background-color: #f1f1f1;
   border-bottom: 1px solid #ccc;;
 }
 
 .grid_selection{
   border-right: 1px solid #ccc;
   background-color: #f1f1f180;
   padding-top: 10px;
 }
 .grid_units{
   background-color: #f1f1f180;
   
 }
.no_parameters{
   text-align: center;
}
.grid_services{
   
   padding-top: 10px;
}
.action_container{
   float: left;
   width: 20%;
   height: 100%;
   margin: 0px 5px 5px 0px ;
   padding: 0 8px;
   border: 1px solid #ccc;
   border-radius: 3px;
   background-color: #f1f1f1;
   color: #444;
}
.action_container:hover{
   background-color: #2ab3a6;
   color: #FFF;
   cursor: pointer;
   border-color: #2ab3a6;
}
@media screen and (max-width: 650px) {
   .action_container {
     width: 100%;
     display: block;
   }
 }
.action_icons{
   font-size: 60px;
   text-align: center;
   
}
.action_text{
   text-align: center;
}

