
$color1: #011627; //Maastricht Blue
$color2: #fdfffc; //Baby Powder
$color3: #2ec4b6; //Maximum Blue Green
    $color3: #2ab3a6; //darker green
$color4: #e71d36; //Rose Madder
$color5: #ff9f1c; //Bright Yellow (Crayola)

