{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="grid-container">
    <div class="grid-x grid-padding-x">
		<div class="float-center" style='margin-top: 40px;'>
    <p class="lead">Select the course and year of your study.</p>
    
		<form method="post" action="{% url 'select_course' %}">
		{% csrf_token %}
		{{ form|crispy }}
        <input type="submit" 
        class="button primary small float-center" value="Submit" style="width: 100%">
	</div>
</div>
</div>
{% endblock %}
