{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="below_nav">
    <h3 class="center-align">Lecturer Dashboard</h3>
  </div>
<div class="grid-container">
    <div class="grid-x grid-padding-x grid_whole">
        <div class="large-12 cell grid_current_units">
        
            <div class="user_details">
                <ul class="dropdown menu float-right" data-dropdown-menu>
                    <li>
                    <a href="#" class='profile_a'>
                        <img src="{% static 'img/avatar.png' %}" alt="profile" width="50" height="50">
                        Profile
                    </a>
                        <ul class="menu profile_menu">
                            <li><a href="{% url 'lecturer_edit_units' %}">Edit units</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                {% for lecturer in lecturer_details %}
                    
                    <p class="stu_name lead">
                        <span>{{lecturer.full_name|capfirst }},
                        <small>{{ lecturer.staff_no}}</small>
                    </span>
                    </p>
                {% endfor %}
                <br>
                <div class="stu_curr_units">
                    <p class='lead' style='margin-bottom: 10px;'>Your selected units
                    <small>
                    <a href="{% url 'lecturer_edit_units' %}">Edit</a>
                    </small>
                    </p>
                    {% for lecturer in lecturer_details %}
                    {% for unit in lecturer.lec_units %}
                        <p class="stu_unit">{{ unit}}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="actions_title">Lecturer actions</p>
        <div class="large-12 medium-12 cell grid_actions">
            <a class="action_container" href="{% url 'give_assignment' %}">
                <p class="center-align">Give assignment</p>
            </a>
            <a class="action_container" href="{% url 'lec_view_assignments' %}">
                <p class="center-align">View assignments</p>
            </a>
            
            <a class="action_container" href="{% url 'give_materials' %}">
                <p class="center-align">Give reading materials</p>
            </a>
            <a class="action_container" href="{% url 'lec_view_materials' %}">
                <p class="center-align">View reading materials</p>
            </a>
            <a class="action_container" href='#'>
                <p class="center-align">Find a student</p>
            </a>
            <a class="action_container" href='#'>
                <p class="center-align">View reports</p>
            </a>    
        </div>   
    </div> 
</div>

{% endblock %}

