{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-padding-x grid_whole">
        <div class="large-12 cell grid_current_units">
            <div class="stu_details">
                <ul class="dropdown menu float-right" data-dropdown-menu>
                    <li>
                    <a href="#" class='profile_a'>Account</a>
                        <ul class="menu profile_menu">
                            <li><a href="{% url 'select_course' %}">Update profile</a></li>
                            <li><a href="{% url 'student_edit_units' %}">Edit units</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                    {% for student in student_details %}
                        <span class='lead stu_dashboard'>Student Dashboard </span>
                        <p class="stu_name lead">
                        <span>{{student.full_name|capfirst }},
                        <small>{{ student.adm_no}}</small>
                    </span>
                        
                        </p>
                        <p class="stu_incr lead">Year:{{student.year}} Semester:{{ student.semester }}</p>
                    {% endfor %}
                <div class="stu_curr_units">
                    <p class='lead' style='margin-bottom: 10px;'>Selected units</p>
                    {% for student in student_details %}
                    {% for unit in student.units %}
                        <p class="stu_unit">{{ unit}}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="large-5 medium-5 cell grid_selection">
        </div>  
        <div class="large-7 medium-7 cell grid_units">
        </div> 
    </div>
</div>

{% endblock %}

