{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="below_nav">
    <h3 class="center-align">Unit selection</h3>
  </div>
<div class="grid-container grid_whole_stu">
<ul class="breadcrumbs">
            <li><a href="{% url 'student_dashboard' %}">Student Dashboard</a></li>
            <li class="current"><a href="{% url 'student_edit_units' %}">Edit Units</a></li>
        </ul>
  <div class="float-center">
    <p class="lead">Select the units your are taking.</p>
  </div>
  <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-5">
    {% for unit in units %}
    <div class="cell">
      <div class="unit_container" id="{{unit.unit_code}}">
			<div class="center_text">
      {{ unit.unit_code }}
      <br>
      {{unit.unit_name}}
      </div>
	  </div>
  </div>
    {% endfor %}
  </div>
    <button class="waves-effect waves-light btn-small save_changes" style="margin-bottom:20px">Save Units</button>
</div>
{% endblock %}
