{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="below_nav">
    <h3 class="center-align">Student Dashboard</h3>
  </div>
<div class="grid-container">
    <div class="grid-x grid-padding-x grid_whole">
        <div class="large-12 cell grid_current_units">
            <div class="user_details">
                <ul class="dropdown menu float-right" data-dropdown-menu>
                    <li>
                    <a href="#" class='profile_a waves-effect waves-light btn-small'>Account</a>
                        <ul class="menu profile_menu">
                            <li><a href="{% url 'select_course' %}">Update profile</a></li>
                            <li><a href="{% url 'student_edit_units' %}">Edit units</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                    {% for student in student_details %}
                        <p class="stu_name lead">
                        <span>{{student.full_name|capfirst }},
                        <small>{{ student.adm_no}}</small>
                    </span>
                        
                        </p>
                        <p class="stu_incr lead">Year:{{student.year}} Semester:{{ student.semester }}</p>
                    {% endfor %}
                <div class="stu_curr_units">
                    <p class='lead' style='margin-bottom: 10px;'>Selected units</p>
                    {% for student in student_details %}
                    {% for unit in student.units %}
                        <p class="stu_unit">{{ unit}}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="actions_title">Student actions</p>
        <div class="large-12 medium-12 cell grid_actions">
            <a class="action_container" href="{% url 'student_view_assignments' %}">
                <p class="center-align">View assignment</p>
            </a>
            <a class="action_container" href='#'>
                <p class="center-align">Reading materials</p>
            </a>
            <a class="action_container" href='#'>
                <p class="center-align">Inquire about missing marks</p>
            </a>
            <a class="action_container" href='#'>
                <p class="center-align">Give feedback to your lectures</p>
            </a>
            <a class="action_container" href='#'>
                <p class="center-align">Find a lecturer</p>
            </a>
        </div> 
    </div>
</div>

{% endblock %}

