{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="below_nav">
    <h3 class="center-align">View assigments</h3>
  </div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
		<div class="large-3 medium-3 cell">
        <ul class="breadcrumbs">
            <li><a href="{% url 'student_dashboard' %}">Student Dashboard</a></li>
            <li class="current"><a href="{% url 'student_view_assignments' %}">View assigments</a></li>
        </ul>
        </div>
		<div class="large-9 medium-9 cell">
        {% if assignment_list %}
            {% for key,assignment in assignment_list.items %}
                <div style="padding-bottom:40px">
                    <span class="lead">Unit Code: {{assignment.unit_code}}</span>
                    <span class='float-right due_date_tag'>Due <span class='due_date'>{{assignment.due_date}}</span></span>
                    <p>Given by: <a href="#">{{assignment.staff_no.full_name}}</a></p>
                    <p>{{assignment.assign_text |linebreaksbr}} </p>
                    <span><a href="{{ assignment.assign_file.url }}" class="btn">Download</a></span>
                    <span class="float-right"><a href="{% url 'student_submit_assignment' assignment.assign_id %}"class='btn'>Submit / View</a></span>
                    <hr>
                    
                </div>
            {% endfor %}
        {% else %}
        <p class="lead center-align">No assigments</p>
        {% endif %}
        </div>
		
    </div>
</div>
{% endblock %}
